@tailwind base;
@tailwind components;
@tailwind utilities;


.Home {
  /* Styles for the Home component */
  background-image: url('https://www.whitescreen.online/image/black-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Brain {
  /* Styles for the Brain image */
  width: 600px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
  position: absolute; /* You can also use "absolute", "fixed", or "sticky" depending on your needs */
  top: 100px; /* Adjust the top position as needed */
  left: 850px;
}

.Button {
  background-color: blue; /* Set the background color to blue */
  border: none; /* Remove the button border */
  border-radius: 50px; /* Make the button round by setting a large border-radius */
  padding: 10px 20px; /* Add padding to the button for better appearance */
  color: white; /* Set text color to white for better contrast */
  cursor: pointer; /* Change the cursor to a pointer on hover for interactivity */
  font-weight: bold; /* Optionally, set font-weight to bold for text */
  text-align: center; /* Center-align the text */
  text-decoration: none; /* Remove text decoration like underlines */
  display: inline-block; /* Make sure it's an inline-block element to respect its dimensions */
  transition: background-color 0.3s ease; /* Add a smooth transition for background color */
}


  
